#jinja2: trim_blocks: False
{%- for key in ddns_keys %}
key "{{ key.name }}" {
        algorithm "{{ key.algorithm }}";
        secret "{{ key.secret }}";
};

{%- endfor %}

{%- for server in zone_transfer_servers %}

server {{ server.ip }} {
        keys {
        {%- for key in server['keys'] %}
                {{ key }};
        {%- endfor %}
        };
};
{%- endfor %}
